{% extends "base.html" %}

{% block content %}

<div class="p-5 col-lg-12 col-12 mx-auto border">
    <h1 class="mb-4">Here is what you have selected </h1>
    <p>Example select: {{ keko1 }}</p>
    <p>Example multiple select: {{ keko2 }}</p>
    <p>Example textarea: {{ keko3 }}</p>
    <p>Example file input (name of this file): {{ keko3_1 }}</p>
    <p>checked Default radio: {{ keko4 }}</p>
    <p>Checked Second default radio: {{ keko5 }}</p>
    <p>Checked Disabled radio: {{ keko6 }}</p>
    <p>Checked 1: {{ keko7 }}</p>
    <p>Checked 2: {{ keko8 }}</p>
    <p>Checked 3 (disabled): {{ keko8 }}</p>
    <p>Email: {{ keko9 }}</p>
    <p>Password: {{ keko10 }}</p>
    <p>Address: {{ keko11 }}</p>
    <p>Address 2: {{ keko12 }}</p>
    <p>City: {{ keko13 }}</p>
    <p>State: {{ keko14 }}</p>
    <p>Zip: {{ keko15 }}</p>
    <p>Checked the "Check me out" checkbox: {{ keko16 }}</p>
</div>

{% endblock %}